[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
mysql = "*"
mysqlclient = "*"
drf-nested-routers = "*"
pytest-django = "*"
django-cors-headers = "*"
pillow = "*"
mysql-connector-python = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
google-api-python-client = "*"
gspread = "*"

[dev-packages]

[requires]
python_version = "3.7"
